# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (Uncomment if you opt in to go vendor)
# vendor/

# Go workspace file
go.work
go.work.sum

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment variables
.env
.env.*
.env.local

# Compiled binary for this project (in case compiled locally in the same directory)
telemetry-writer
